<main class="page contact-page">
    <div style="text-align: center;">
        <miro-config (formValue)="miroFormInfo($event)"></miro-config>
        <distance-between-notes (formValue)="distanceBetweenNotesInfo($event)"></distance-between-notes>
        <preGenetatingTabelInput (formValue)="preGenetatingTabelInfo($event)"></preGenetatingTabelInput>
    </div>
    <div id="tableDIV">

        <generatedTable [tableName]="listOfTables[0]"></generatedTable>
        <generatedTable [tableName]="listOfTables[1]"></generatedTable>

    </div>
    <div class="center">
        <button id="ConvertToHTML" class="btn btn-primary" type="button" style="margin-bottom: 20px;">Convert table to HTML</button>
    </div>

</main>