@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(~bootstrap/dist/css/bootstrap.css);
@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(~bootstrap/dist/css/bootstrap.rtl.min.css);


.gradient {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: #fff
}

@media(min-width: 576px) {
    .navbar {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem
    }

    .portfolio-navbar.fixed-top+.page {
        padding-top: 5.5rem
    }
}