@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(~bootstrap/dist/css/bootstrap.css);


.gradient {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: #fff
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem
}