<p class="text-start" style="color: rgb(0,0,0);">Feedback for: {{ table.TableName }}</p>
<form>
    <div class="table-responsive" style="margin-bottom: 20px;">
        <table class="table table-sm table-bordered">
            <colgroup>
                <col style="width: 5%;" />
                <col style="width: 60%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
            </colgroup>
            <thead>
                <tr style="background: #a4a4a4;">
                    <th>
                        <p>Priority</p>
                        <p>
                            <em>(number of upvotes)</em>
                        </p>
                    </th>
                    <th>Summary</th>
                    <th>Desired State (at end of 2022)</th>
                    <th colspan="1">Actions for EngX</th>
                    <th colspan="1">Actions for Engineers</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notes of table.Rows; index as i">
                    <td><input (blur)="sortArray()" ngModel name="{{ 'Priority' + i }}" type="number" [(ngModel)]="table.Rows[i].Priority"></td>
                    <td><textarea style="width:100%;" (input)="sendUpdate()" ngModel name="{{ 'Summary' + i }}" type="text" [(ngModel)]="table.Rows[i].Summary"></textarea></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>